<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if form_action[:id] %>
	<%= form_tag(content_merge_path(@article.id)) do %>
	  <div class='merge'>
	    <h4><%= _("Merge Articles") %></h4>
	    <div>
	      <label for='merge_with'>Merge With</label>
	      <input name='merge_with'>
		</div>
		<input type='submit' value='Merge'>   
	  </div>
	<% end %>
<% end %>